{% extends "_base.html" %}
{% load common_filters %}

{% block title %}Filters{% endblock %}
{% block main %}
  <h2>Filters</h2>
  <h3>Link</h3>
  <a href="{{ url }}">{{ company }}</a>
  <h3>First Filters</h3>
  {{ company|upper }}<br>
  {{ url|urlize }}<br>
  {{ moon_landing|date:"DATETIME_FORMAT" }}<br>
  <!-- The timesince filter is commonly used to output how much time has
  passed since an article was written (e.g., “Posted 1 year, 2 months ago.”).
  -->
  {{ moon_landing|timesince }}<br />
    {{ launch_date| timesince:moon_landing }}<br />
  <!-- The timeuntil filter is commonly used to output how much time is
  remaining before some event takes place (e.g., “Sale ends in 9 hours, 50
  minutes.”).
  -->
  {{ century22|timeuntil }}<br />
    {{ century22|timeuntil:moon_landing }}<br />
  <ol>
    {% for item, remaining in inventory.items %}
      <li>{{ item }}: {{ remaining|default:"out of stock" }}</li>
    {% endfor %}
  </ol>
  <ol>
  {% for category, titles in classes.items %}
    <li>
      {{ category }}: {{ titles|length }}
      class{{ titles|pluralize:"es" }}
    </li>
  {% endfor %}
  </ol>
  {{ blurb|truncatewords_html:3|safe }}
  <ol>
    {% for item, remaining in inventory.items %}
      <li class="{{ remaining|yesno:'instock,outofstock' }}">
        {{ item }}: {{ remaining }} remaining
        {{ remaining|yesno:',(time to place an order)' }}
      </li>
    {% endfor %}
  </ol>
  <div>
    <style>
      .hidden {
        display: none;
      }
    </style>
    <ol id="color-list">
      {% for color in colors|slice:':3' %}
        <li>{{ color }}</li>
      {% endfor %}
      {% for color in colors|slice:'3:' %}
        <li class="extra hidden">{{ color }}</li>
      {% endfor %}
    </ol>
    <button class="btn btn-link"
      onclick="for (const li of document.querySelectorAll('#color-list li.extra')) {
      li.classList.toggle('hidden');
    }">
      Toggle Extra Colors
    </button>
  </div>
  <ol>
    {% for file in files %}
      <li>{{ file.filename }} ({{ file.filesize|filesizeformat }})</li>
    {% endfor %}
  </ol>
  <div>
    <ol>
      <!--
      Uncaught TypeError: Cannot read properties of null (reading 'textContent')
      -->
      <script>
        const classes = JSON.parse(document.getElementById('classdata').textContent);
        const pythonClasses = classes['Python'];
        for (let i=0; i < pythonClasses.length; i++) {
          document.write(`<li>${pythonClasses[i]}</li>`);
        }
      </script>
    </ol>
  </div>
  <p>{{ company|repeat:3 }}</p>
  <p>{{ 5|repeat:3 }}</p>
  <p>{{ user_blurb|clean }}</p>
{% endblock main %}
